
/* #24243e #302b63 #0f0c29 #DBDBDB #EAEAEA #2948ff #396afc #bdc3c7 #2c3e50*/

body {
    margin: -15px;
    padding: 0;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    background-color: #DBDBDB;

}
.flex, .footer, .main, .header__menu--profile, .list-section {
    display: flex;
}

.header {
    width: 100%;
    height: 100px;
}

.header .navbar .list-section {
    height: auto;
    list-style-type: none;
    margin-top: 30px;
}

.list-section {
  /*  display: flex; */
    justify-content: space-between;
}

.header__image {
    width: 100px;
    transition: width 2s, height 2s, transform 2s;
}

.header__menu {
    margin-right: 60px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #24243e;
}

.header__menu--user--image {
    border-radius: 50%;
}

.header__image:hover {
    transform: rotate(360deg);
}

.header__menu--profile {
    width: 40px;
    /*   display: flex; */
    align-items: center;
    margin-right: 60px;
}

.header__menu--profile-user {
    margin-left: 10px;
    letter-spacing: 1px;
}

.header__menu--profile:hover {
    cursor: pointer;
    color: gainsboro;
}

.header__menu .list {
    display: none;
    text-align: right;
}

.header__menu:hover .list,
.list:hover {
    display: block;
}

a {
    padding: 2px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: gainsboro;
}

.main {
    height: 300px;
  /*     display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__title-h1{
    font-size: 40px;
    margin: 0;
}
.main__title {
    color: #24243e;
    font-size: 25px;
}
.main-buttons {
    display: flex;
}
li{
    list-style: none;
    justify-content: space-between;
}
.main-buttons__services{
    margin: 10px;
    height: 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,.33);
    border: none;
    border-radius: 20px;
    font-size: 18px;
    width: 200px;
    outline: none;
    box-sizing: border-box;
    margin-top: 20px;
}
.main-buttons__services:hover{
    opacity: 0.8;
    width: 202px;
}
.input {
    background-color: #cecece;
    border: 2px solid #24243e;;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 40px;
    padding: 0 20px;
    width: 50%;
    outline: none;
}

.categories__title {
    color: #24243e;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    padding-left: 50px;
    width: 100%;
}

/* add color to placeholder with pseudoelement */
::placeholder {
    color: #fff;
}

.carrousel {
    width: 100%;
    padding: 0px 30px;
    position: relative;
/* Todos los elementos dentro de carousel se posicionarán en relacion a este padre*/
}

.carrousel__container {
    white-space: nowrap;
    margin: 70px 340px;
}

.carrousel-item {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms;
    transform-origin: center left;
    position: relative;
  /* Position relative to be relativo to the father */
}

.carrousel-item:hover ~ .carrousel-item {
    transform: translate3d(100px, 0, 0);
}

.carrousel__container:hover .carrousel-item {
    opacity: 0.3;
}

.carrousel__container:hover .carrousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.carrousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.carrousel-item__details {
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
}
.carrousel-item__details img {
    width: 30px;
}

.carrousel-item__details:hover {
    opacity: 1;
}

.carrousel-item__details--title,
.carrousel-item__details--subtitle {
    color: #fff;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.carrousel-item__details--title{
    text-transform: uppercase; 
}
.force-overflow {
    overflow-x: scroll;
    width: 90%;
    margin-left: 60px;
}

#style-1::-webkit-scrollbar-track:horizontal {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 9px;
    background-color: #2c3e50;
}

#style-1::-webkit-scrollbar {
    width: 12px;
    background-color: #2c3e50;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}
.fas{
    color: #cecece;
}
.footer {
  /* display: flex; */
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer a {
    color: #24243e;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1300px) {
        body{
            font-family: 'Helvetica', serif;
            margin: 0;
            padding: 0;
        }
        .main {
            background-color: transparent;
            border: none;
            padding: 0;
            width: 100%;
        }
        .carrousel__container {
            white-space: nowrap;
            margin: 70px 0px;  
        }
        .carrousel__container .carrousel-item{
            display: block;
        }
        .main__title{
            color: #cecece;
        }
        .main__title--container--button .button{
            background-color: #fdeff9;
            color: black;
        }
    
    }

 @media only screen and (max-width: 600px) {
        body{
            font-family: 'Helvetica', serif;
            margin: 0;
            padding: 0;
            
        }
        .main {
            background-color: transparent;
            border: none;
            padding: 0;
            width: 100%;
        }
        .carrousel__container {
            margin: 70px 0px;  
        }
        .carrousel__container .carrousel-item{
            display: block;
        }
        .main__title{
            color: #cecece;
        }
        .main__title--container--button .button{
            background-color: #fdeff9;
            color: black;
        }
    }