
/* #24243e #302b63 #0f0c29 #DBDBDB #EAEAEA #2948ff #396afc #bdc3c7 #2c3e50*/
/*General CSS*/
body {
    margin: -15px;
    padding: 0;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    background-color: #DBDBDB;
}
.footer, .main, .header__menu--profile, .list-section {
    display: flex;
}

.header {
    width: 100%; 
    height: 100px;
}
.header .navbar .list-section {
    height: auto;
    list-style-type: none;
    margin-top: 30px;
}
.list-section {
    justify-content: space-between;
}
.header__image {
    width: 100px;
    transition: width 2s, height 2s, transform 2s;
}
.header__menu {
    margin-right: 150px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #24243e;
}
.header__menu--user--image {
    border-radius: 50%;
}
.header__image:hover {
    transform: rotate(360deg);
}
.header__menu--profile {
    width: 40px;
    align-items: center;
    margin-right: 60px;
}
.header__menu--profile-user {
    margin-left: 10px;
    letter-spacing: 1px;
}
.header__menu--profile:hover {
    cursor: pointer;
    color: gainsboro;
}
.header__menu .list {
    display: none;
    text-align: right;
}
.header__menu:hover .list,
.list:hover {
    display: block;
}
a {
    padding: 2px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: gainsboro;
}
ul .submenu {
    position: absolute;
    right: 60px;
    top: 45px;
}

.submenu #cart{
    display: none;
}
.submenu:hover #cart{
    display: block;
    position: absolute;
    right:-20px;
    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 300px;
    min-width: 200px;
    border-radius: 10px;
}
.vacio {
    padding: 10px;
    margin: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}
.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.main {
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__title-h1{
    font-size: 40px;
    margin: 0;
}
.main__title {
    color: #24243e;
    font-size: 25px;
}
.main-buttons {
    display: flex;
    justify-content: space-around;
}
li{
    list-style: none;
    justify-content: space-between;
}
.main-buttons__services{
    margin: 10px;
    height: 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,.33);
    border: none;
    border-radius: 20px;
    font-size: 18px;
    width: 200px;
    outline: none;
    box-sizing: border-box;
    margin-top: 20px;
}
.main-buttons__services:hover{
    opacity: 0.8;
    width: 202px;
}
.input {
    background-color: #cecece;
    border: 2px solid #24243e;;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 40px;
    padding: 0 20px;
    width: 50%;
    outline: none;
}
.cate-products__titles{
    display: flex;
}
.categories__title a, .products__title a {
    color: #24243e;
    font-size: 16px;
    font-weight: bold;
    padding-left: 50px;
}

.categories__title a:hover, .products__title a:hover{
    color: #cecece;
}
.row-product__section{
    display: flex;
    justify-content: space-between;
}
.product-img{
    width: 200px;
    border-radius: 20px;
    overflow: hidden;
}
/* add color to placeholder with pseudoelement */
::placeholder {
    color: #fff;
}
.carrousel {
    width: 100%;
    padding: 0px 30px;
    position: relative;
/* Todos los elementos dentro de carousel se posicionarán en relacion a este padre*/
}
.carrousel__container {
    white-space: nowrap;
    margin: 70px 290px;
}
.carrousel-item {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms;
    transform-origin: center left;
    position: relative;
}
.carrousel-item:hover ~ .carrousel-item {
    transform: translate3d(100px, 0, 0);
}
.carrousel__container:hover .carrousel-item {
    opacity: 0.3;
}
.carrousel__container:hover .carrousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}
.carrousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.carrousel-item__details {
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
}
.carrousel-item__details img {
    width: 30px;
}

.carrousel-item__details:hover {
    opacity: 1;
}

.carrousel-item__details--title,
.carrousel-item__details--subtitle {
    color: #fff;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.carrousel-item__details--title{
    text-transform: uppercase; 
}
.force-overflow {
    overflow-x: scroll;
    width: 90%;
    margin-left: 80px;
}

#style-1::-webkit-scrollbar-track:horizontal {
    border-radius: 9px;
    background-color: #2c3e50;
}

#style-1::-webkit-scrollbar {
    width: 12px;
    background-color: #2c3e50;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
}
.fas{
    color: #cecece;
    font-size: 25px;
}
.lightbox-control:hover{
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
}

/* Modal */
.lightbox-container{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.lightbox-holder {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 70%;
}

/* The Close Button */
.lightbox-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.lightbox-close:hover,
.lightbox-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.footer {
    align-items: center;
    height: 100px;
    width: 100%;
}
.footer a {
    color: #24243e;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 1640px) {
    /* styles for browsers larger than 1440px; */
    .carrousel__container {
        white-space: nowrap;
        margin: 70px 180px;  
    }
}
    
@media only screen and (max-width: 1460px) {

    .main-buttons {
        padding: 20px;
    }
    .carrousel__container {
        white-space: nowrap;
        margin: 70px 100px;  
    }
    }

    @media only screen and (max-width: 1124px) {
        .main-buttons,     .carrousel__container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        .main__title{
            margin: 0;
        }
        .main-buttons__services{
            grid-area: 1 / 1 / 2 / 2;
        }
        .carrousel-item{
            margin-bottom: 20px;
        }

    }


 @media only screen and (max-width: 900px) {
        .main-buttons,     .carrousel__container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        .main__title{
            margin: 0;
        }
        .main-buttons__services{
            grid-area: 1 / 1 / 2 / 2;
        }
        .categories__title{
            display: none;
        }
        .carrousel-item{
            margin-bottom: 20px;
        }
    }

@media only screen and (max-width: 600px) {

    .main-buttons,     .carrousel__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .carrousel {
        width: 100%;
        padding: 0px 0px;
    }
    .main__title{
        margin: 0;
    }
    .main-buttons__services{
        grid-area: 1 / 1 / 2 / 2;
    }
    .carrousel-item{
        margin-bottom: 20px;
}
}
@media only screen and (max-width: 570px) {

    .main-buttons{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .main__title{
        margin: 0;
    }
    .main-buttons__services{
        grid-area: 1 / 1 / 2 / 2;
    }
    .carrousel__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        white-space: nowrap;
        margin: 70px 70px;  
    }
    .carrousel-item{
        margin-bottom: 10px;
    }
    .force-overflow {
        overflow-x: scroll;
        width: 90%;
        margin-left: 80px;
    }

}
